.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 80%;
  list-style: none;
}
.deleteIcon {
  margin-left: auto;
}
.button {
  background-color: transparent;
}
.time {
  margin-right: 20px;
}
.logo {
  height: 100%;
}
.title {
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
}
.url {
  margin-left: 20px;
}
